@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family:
      "Noto Serif TC", "Noto Serif", ui-serif, Georgia, Cambria,
      "Times New Roman", Times, serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
  }

  button,
  input,
  select {
    font: inherit;
  }
}
